<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: white;
}

h1 {
  color: black;
  text-align: side;
}

p {
  font-family: verdana;
  font-size: 15px;
}
</style>
</head>
<body>

<h1>Group Reflection</h1>

</body>
</html>

<title>Group Reflection</title>

<h3>What went well?</h3>

<p>Smart: The things that went well were I had an early good start on attempting this assignment by answering questions, doing research for related contexts and images/visual elements to back up the questions, building a GitHub repository straight away and my website/template via HTML and GitHub Pages.</p>

<p>Edward: Smart and I, in an under-manned situation, managed to work efficiently and effectively to achieve what we needed to do. Smart is incredibly talented in organisation and ensuring key responsibilities are complete, and that no part is missing. I am glad that our assignment together worked well, especially as it was as a team of two.</p>

<h3>What could be improved?</h3>

<p>Smart: There’s one component that needs improvement, which is a consistent communication with my group member (Edward) via MS Teams and Discord. Also, since we are mostly busy due to personal commitments, it’s a little bit hard to set up a schedule for meetings to discuss on how to complete this assessment and if we need help, we ask each other questions. However, we managed to get through at times. </p>

<p>Edward: There are aspects that could be enhanced, such as our programming skills within GitHub; however, overall the effort was tremendous.</p>

<h3>At least one thing that was surprising.</h3>

<p>Smart: A thing that was surprising was Edward’s skill in terms of presentation (the use of appropriate colours, fonts and backgrounds and visual elements/images) by just using HTML and GitHub pages in the previous assessment. In my opinion, it’s more advanced that what I did and hopefully I can learn and pick up some things from him.</p>

<p>Edward:That we can complete an assignment with much less than the required amount of personnel.</p>

<h3>At least one thing that you have learned about groups.</h3>
